@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
:root {
  --border-radious: 8px;
  --ligth-primary: #fffdf8;
  --background-primary: #eef0f4;
  --dark-primary: #dce1eb;
  --dark-blue: #1a2a44;
  --lime-grean: #00ff00;
  --dark-brown: #432000;
  --box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
body {
  /* background: radial-gradient(circle, #1a2a44, #0d1b2a); */
  background-color: var(--background-primary);
  height: 100dvh;
  text-align: center;
  padding: 3px;
  position: relative;
}
.app-menu,
.game-menu,
.game-container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 40px auto;
  gap: 10px;
  padding: 5px;
}
.app-menu h3,
.game-container h1 {
  color: var(--dark-blue);
  font-size: 1.8em;
  font-weight: 600;
}
.popup-container{

}

.menu-button,
.menu-input,
.loading-modal-message > button,
.game-menu--header p,
.game-option--container,
.game-option--score,
.score-board > p,
.slagalica--letter,
.slagalica-container--stop-btn,
.slagalica-container--check-btn ,
.slagalica-container--submit-btn,
.popup-container--btn{
  font-size: 20px;
  padding: 15px;
  text-align: center;
  border: none;
  border-radius: var(--border-radious);
}
.game-menu--header p,
.menu-button,
.game-option--container,
.game-option--score,
.sore-board--player-score,
.slagalica--letter,
.slagalica--letter--small,
.slagalica-container--stop-btn,
.slagalica-container--check-btn
.slagalica-container--submit-btn
.slagalica-container--clear-btn{
  /* score board */
  background-color: var(--ligth-primary);
  color: var(--dark-blue);
  box-shadow: var(--box-shadow);
}
.menu-button {
  flex-grow: 1;
  cursor: pointer;
}
.menu-input {
  color: var(--dark-brown);
  background-color: var(--dark-primary);
  border: 0;
  font-family: "Rubik", sans-serif;
  margin: 10px 0;
  outline: none;
}
.menu-button:hover {
  background-color: var(--lime-grean);
}
.logo-img {
  height: 20%;
  width: 20%;
  margin: auto;
}
.trade-mark {
  margin-top: auto;
  font-size: 0.9rem;
  color: var(--dark-primary);
}

.hide {
  display: none;
}

.loading-model,
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.loading-modal-message,
.popup-container--message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark-primary);
  padding: 50px;
  z-index: 100;
  border-radius: var(--border-radious);
  font-size: 1.5rem;
}
.loading-modal-message > button,
.popup-container--btn {
  background-color: var(--dark-blue);
  border: 0;
  font-family: "Rubik", sans-serif;
  margin-top: 30px;
  outline: none;
  color: var(--dark-primary);
  cursor: pointer;
}
.loading-modal-message > button:hover ,
.popup-container--btn:hover {
  background-color: var(--dark-brown);
}

.game-menu,
.game-container {
  z-index: 1;
  background-color: var(--background-primary);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.game-container {
  z-index: 2;
}
.game-menu--header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.game-menu--header p {
  flex-grow: 1;
  border: none;
}
.game-menu--exit-btn,
.game-container--back-btn {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  text-align: center;
  border: none;
  border-radius: var(--border-radious);
  background-color: var(--dark-blue);
  color: var(--dark-primary);
  cursor: pointer;
}

.game-menu--exit-btn:hover,
.game-container--back-btn:hover {
  background-color: var(--dark-brown);
}
.game-options {
  gap: 10px;
}
.game-option,
.score-board {
  display: flex;
  margin: 10px 0;
  gap: 10px;
}
.game-option--container:hover,
.geme-option--container:active,
.slagalica--letter:hover,
.slagalica-container--stop-btn:hover,
.slagalica-container--check-btn:hover,
.slagalica-container--submit-btn:hover,
.slagalica-container--clear-btn:hover {
  background-color: var(--dark-primary);
}
.game-option--container,
.spacer {
  cursor: pointer;
  flex: 1;
}
.game-option--score,
.sore-board--player-score {
  min-width: 55px;
}

.game-container--back-btn {
  margin: 0 auto 0 0;
  max-width: 100px;
}

.game-opened {
  background-color: var(--dark-primary);
  cursor: default;
}
.slagalica-container {
  /* border: 1px solid var(--dark-blue); */
  margin: auto 0  ;
}
.slagalica-container--input {

}
.slagalica-container--letters {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  margin: 30px 0;
}
.slagalica--letter {
  font-weight: 600;
  cursor: pointer;
}

.visibility-hidden {
  visibility: hidden;
}
.slagalica-container--input-container{
text-align: center;
  height: 40px;
  display: flex;
  justify-content: center;
}
.slagalica-container--input-line{
  height: 3px;
  box-shadow: var(--box-shadow);
  background-color: var(--dark-primary);
  height: 3px;
  border-radius: var(--border-radious);
  margin-top: 5px;
}
.slagalica--letter--small,
.slagalica-container--clear-btn{
  font-size: 20px;
  margin: 2px;
  padding: 6px;
  font-weight: 600;
  text-align: center;
  border: none;
  border-radius: var(--border-radious);
  cursor: default;
}
.slagalica-container--stop-btn,
.slagalica-container--check-btn ,
.slagalica-container--submit-btn{
  cursor: pointer;
  background-color: var(--ligth-primary);
  color: var(--dark-blue);
  box-shadow: var(--box-shadow);
  margin: 10px 0;
}
.slagalica-container--clear-btn{
  /* margin-left: auto; */
  position: absolute;
  right: 0;
  background-color: var(--ligth-primary);
  color: var(--dark-blue);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  /* top: 10px; */
}