@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
:root {
  --border-radious: 8px;
  --ligth-primary:#FFFDF8;
  --background-primary:#eef0f4;
  --dark-primary:#DCE1EB;
  --dark-blue:#1a2a44;
  --lime-grean:#00ff00;
  --dark-brown: #432000;
  --box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
}
body {
  /* background: radial-gradient(circle, #1a2a44, #0d1b2a); */
  background-color: var(--background-primary);
  height: 100dvh;
  text-align: center;
  padding: 3px;
  position: relative;
}
.app-menu ,
.game-menu,
.game-container{
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 40px auto;
  gap: 10px;
  padding: 5px;
}
.app-menu h3,.game-container h1{
    color: var(--dark-blue);
    font-size: 1.8em;
    font-weight: 600;
}
.menu-button,
.menu-input,
.loading-modal-message > button ,
.game-menu--header p,
.game-option--container,
.game-option--score,
.score-board > p{
  font-size: 20px;
  padding: 15px;
  text-align: center;
  border: none;
  border-radius: var(--border-radious);
}
.game-menu--header p,
.menu-button,
.game-option--container,
.game-option--score,
.sore-board--player-score
{ /* score board */
  background-color: var( --ligth-primary);
  color: var(--dark-blue);
  box-shadow: var(--box-shadow);
}
.menu-button{
  flex-grow: 1;
  cursor: pointer;
}
.menu-input {
    color: var(--dark-brown);
    background-color: var( --dark-primary);
    border: 0;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
    outline: none;

}
.menu-button:hover{
    background-color: var(--lime-grean) ;
}
.logo-img{
    height: 20%;
    width: 20%;
    margin: auto;
}
.trade-mark{
    margin-top: auto;
    font-size: 0.9rem;
    color: var( --dark-primary);
}

.hide{
  display: none;
}

.loading-model {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 100;
}

.loading-modal-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:var( --dark-primary); 
  padding: 50px;
  z-index: 100;
  border-radius: var(--border-radious);
  font-size: 1.5rem;
}
.loading-modal-message > button {
  background-color: var(--dark-blue);
  border: 0;
  font-family: 'Rubik', sans-serif;
  margin-top: 30px;
  outline: none; 
  color: var( --dark-primary);
  cursor: pointer;
}
.loading-modal-message > button:hover{
  background-color: var(--dark-brown);
}

.game-menu,.game-container{
  z-index: 1;
  background-color: var(--background-primary);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.game-container{
  z-index: 2;	
}
.game-menu--header{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.game-menu--header p{
  flex-grow: 1;
  border: none;
}
.game-menu--exit-btn,.game-container--back-btn{
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  text-align: center;
  border: none;
  border-radius: var(--border-radious);
  background-color: var(--dark-blue);
  color: var(--dark-primary);
  cursor: pointer;
}

.game-menu--exit-btn:hover,.game-container--back-btn:hover{
  background-color: var(--dark-brown);
}
.game-options{
  gap: 10px;
}
.game-option,.score-board{
  display: flex;
  margin:10px 0;
  gap: 10px;
}
.game-option--container:hover,.geme-option--container:active{
  background-color: var(--dark-primary);
}
.game-option--container,.spacer{
  cursor: pointer;
  flex: 1;
}
.game-option--score,.sore-board--player-score{
  min-width: 55px;
}

.game-container--back-btn{
  margin: 0 auto 0 0;
  max-width: 100px;
}
