<main class="app-menu">
        <img src="./assets/owl_logo.png" class="logo-img"/>
        <h3>SLAGALICA</h3>

        <input type="text" class="menu-input username-inp" placeholder="Enter Username">
        <button class="menu-button" id="randomGame">Play random</button>

        <button class="menu-button" id="createGameBtn">Create Game</button>

        <input type="text" placeholder="Enter game code" id="gameId" class="menu-input">
        <button class="menu-button" id="joinGame">Play With Friend</button>

        <button class="menu-button" id="singlePlayer">Single Player</button>

        <p class="trade-mark">2025 copyrigth &copy; Slagalica</p>
    </main>