@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
:root {
  --border-radious: 8px;
  --ligth-primary: #fffdf8;
  --background-primary: #eef0f4;
  --dark-primary: #dce1eb;
  --dark-blue: #1a2a44;
  --lime-grean: #148514;
  --dark-brown: #828282;
  /* --dark-brown: #432000; */
  --box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
body {
  /* background: radial-gradient(circle, #1a2a44, #0d1b2a); */
  background-color: var(--background-primary);
  height: 100dvh;
  text-align: center;
  padding: 3px;
  position: relative;
}
.app-menu,
.game-menu,
.game-container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 10px auto 0;
  /* gap: 10px; */
  padding: 5px;
  max-height: 1000px;
}
.app-menu h3,
.game-container h1 {
  color: var(--dark-blue);
  font-size: 1.8em;
  font-weight: 600;
}
.popup-container {
}

.menu-button,
.menu-input,
.loading-modal-message > button,
.game-menu--header p,
.game-option--container,
.game-option--score,
.score-board > p,
.slagalica--letter,
.slagalica-container--stop-btn,
.slagalica-container--check-btn,
.slagalica-container--submit-btn,
.spojnice-container--card,
.popup-container--btn,
.koznazna-container--card {
  font-size: 20px;
  font-weight: 600;
  /* padding: 15px; */
  padding: 25px;
  text-align: center;
  border: none;
  border-radius: var(--border-radious);
}
.game-menu--header p,
.menu-button,
.game-option--container,
.game-option--score,
.sore-board--player-score,
.slagalica--letter,
.slagalica--letter--small,
.slagalica-container--stop-btn,
.slagalica-container--check-btn
  .slagalica-container--submit-btn
  .slagalica-container--clear-btn,
.spojnice-container--card,
.koznazna-container--card {
  /* score board */
  background-color: var(--ligth-primary);
  color: var(--dark-blue);
  box-shadow: var(--box-shadow);
}
.menu-button {
  flex-grow: 1;
  margin: 5px 0;
  cursor: pointer;
}
.menu-input {
  color: var(--dark-brown);
  background-color: var(--dark-primary);
  border: 0;
  font-family: "Rubik", sans-serif;
  margin: 10px 0;
  outline: none;
}
.menu-button:hover {
  background-color: var(--lime-grean);
}
.logo-img {
  height: 20%;
  width: 20%;
  margin: auto;
}
.trade-mark {
  margin-top: auto;
  font-size: 0.9rem;
  color: var(--dark-primary);
}

.hide {
  display: none;
}

.loading-model,
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.loading-modal-message,
.popup-container--message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark-primary);
  padding: 50px;
  z-index: 100;
  border-radius: var(--border-radious);
  font-size: 1.5rem;
  color: var(--dark-blue);
}
.popup-container--message {
  padding: 40px 10px;
}
@media (max-width: 520px) {
  .popup-container--message {
    width: 90%;
  }
}

.loading-modal-message :nth-child(2) {
  font-size: 2rem;
  margin: 10px 0;
  color: var(--dark-blue);
}
.loading-modal-message > button,
.popup-container--btn {
  background-color: var(--dark-blue);
  border: 0;
  font-family: "Rubik", sans-serif;
  margin-top: 10px;
  outline: none;
  color: var(--dark-primary);
  cursor: pointer;
}
.loading-modal-message > button:hover,
.popup-container--btn:hover {
  background-color: var(--dark-brown);
}

.game-menu,
.game-container {
  z-index: 1;
  background-color: var(--background-primary);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.game-container {
  gap: 0;
  z-index: 2;
  /* border: 1px solid red; */
}
.game-container > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.game-container--clock {
  border-radius: var(--border-radious);
  background-color: var(--dark-blue);
  color: var(--dark-primary);
  padding: 8px;
  text-align: center;
  width: 82px;
}
.game-container--clock > span {
  margin-left: 10px;
}
.game-menu--header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.game-menu--header p {
  flex-grow: 1;
  border: none;
}
.game-menu--exit-btn,
.game-container--back-btn {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  text-align: center;
  border: none;
  border-radius: var(--border-radious);
  background-color: var(--dark-blue);
  color: var(--dark-primary);
  cursor: pointer;
}

.game-menu--exit-btn:hover,
.game-container--back-btn:hover {
  background-color: var(--dark-brown);
}
.game-menu--exit-btn {
  padding: 15px;
  font-weight: 500;
}
.game-options {
  gap: 10px;
}
.game-option,
.score-board {
  display: flex;
  margin: 10px 0;
  gap: 10px;
}
.game-option--container:hover,
.geme-option--container:active,
.slagalica--letter:hover,
.slagalica-container--stop-btn:hover,
.slagalica-container--check-btn:hover,
.slagalica-container--submit-btn:hover,
.slagalica-container--clear-btn:hover,
.spojnice-container--card:hover,
.koznazna-container--card:hover {
  background-color: var(--dark-primary);
}
.game-option--container,
.spacer {
  cursor: pointer;
  flex: 1;
}
.game-option--score,
.sore-board--player-score {
  min-width: 80px;
}

.game-container--back-btn {
  margin: 0 auto 0 0;
  max-width: 100px;
}

.game-opened {
  background-color: var(--dark-primary);
  cursor: default;
}
.slagalica-container {
  /* border: 1px solid var(--dark-blue); */
  margin-top: auto;
}
.slagalica-container--input {
}
.slagalica-container--letters {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  margin: 20px 0 30px;
}
.slagalica--letter {
  font-weight: 600;
  cursor: pointer;
  padding: 18px;
}

.visibility-hidden {
  visibility: hidden;
}
.slagalica-container--input-container {
  text-align: center;
  height: 40px;
  display: flex;
  justify-content: center;
}
.slagalica-container--input-line ,
.moj-broj-container--input-line{
  height: 3px;
  box-shadow: var(--box-shadow);
  background-color: var(--dark-primary);
  height: 3px;
  border-radius: var(--border-radious);
  margin-top: 5px;
}
.slagalica--letter--small,
.slagalica-container--clear-btn {
  font-size: 20px;
  margin: 2px;
  padding: 6px;
  font-weight: 600;
  text-align: center;
  border: none;
  border-radius: var(--border-radious);
  cursor: default;
}
.slagalica-container--stop-btn,
.slagalica-container--check-btn,
.slagalica-container--submit-btn {
  cursor: pointer;
  background-color: var(--ligth-primary);
  color: var(--dark-blue);
  box-shadow: var(--box-shadow);
  margin: 10px 0;
}
.slagalica-container--clear-btn {
  /* margin-left: auto; */
  position: absolute;
  right: 0;
  background-color: var(--ligth-primary);
  color: var(--dark-blue);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  /* top: 10px; */
}
.slagalica-container--word-validator {
  margin-top: 8px;
  font-size: 0.9rem;
  height: 16px;
  font-weight: 600;
}

/* /////////////////SKOCKO STYLES */
/* Add this CSS to your stylesheet */

.skocko-container {
  position: relative;
  height: 600px;
}

.skocko-card-container {
  display: contents;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin: 10px 0;
}

.skocko-card,
.skocko-score-display,
.skocko-input-card,
.popup-combination-skocko--card,
.asocijacije-card {
  font-size: 20px;
  padding: 15px;
  text-align: center;
  border: none;
  border-radius: var(--border-radious);
  box-shadow: var(--box-shadow);
}
.skocko-card,
.skocko-input-card,
.popup-container--message,
.asocijacije-card {
  background-color: var(--ligth-primary);
  color: var(--dark-blue);
}
.skocko-input-card:hover {
  background-color: var(--dark-primary);
}

.skocko-score-display {
  grid-column: span 2;
  background-color: var(--dark-primary);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.skocko-card-option-menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.skocko-input-card {
  padding: 4.2px 0px;
  cursor: pointer;
}
.skocko-input-card > img,
.popup-combination-skocko--card > img {
  height: 40px;
  width: 40px;
}
/* .skocko-card > img{
  height: 20px;
  width: 20px;
}  */

.score-circle {
  border-radius: 50%;
  height: 23px;
  width: 23px;
  background-color: var(--ligth-primary);
}

.popup-combination-skocko > p {
  font-size: 1rem;
  margin-top: 5px;
}
.popup-combination-skocko > section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.popup-combination-skocko--card {
  margin: 4px;
  background-color: var(--ligth-primary);
}
.popup-combination-skocko--card > img {
}
.spojnice-container > p {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--dark-blue);
  margin: 8px 0;
}
.spojnice-container--cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  gap: 10px;
}
.spojnice-container--card {
  /* flex:0.5; */
  cursor: pointer;
}
.add-dark-bg {
  background-color: var(--dark-primary);
}
.koznazna-container {
  display: flex;
  flex-direction: column;
}
.koznazna-container--options {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  gap: 10px;
  bottom: 15px;
}

@media (max-width: 470px) {
  .koznazna-container--options {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    /* position: static; */
  }
}
.koznazna-container--card {
  cursor: pointer;
  overflow: hidden;
}
.koznazna-container > p {
  margin: 100px 0;
  font-weight: 500;
}
/* .asocijacije-board{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
} */
.asocijacije-board {
}
.asocijacije-column {
  width: 45%;
  /* border: 1px solid red; */
  margin: 4px;
  display: inline-block;
}
.asocijacije-result-input {
  width: 90%;
}
.asocijacije-card {
  margin: 10px 0;
  cursor: pointer;
  font-weight: 400;
}
.asocijacije-input,
.asocijacije-result-input {
  font-weight: 600;
  padding: 15px;
  text-align: center;
  border: none;
  border-radius: var(--border-radious);
  outline: none;
  background-color: var(--dark-primary);
}
.asocijacije-result-input {
}
.asocijacije-input {
  width: 100%;
}

/*  font-size: 20px;
  padding: 15px;
  text-align: center;
  border: none;
  border-radius: var(--border-radious);
  box-shadow: var(--box-shadow); */

.moj-broj-container,
.koznazna-container {
  /* position: relative; */
  height: 100%;
}

/* .moj-broj-container--numbers,
.moj-broj-container--operators {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
} */
.moj-broj-container--first-row,
.moj-broj-container--second-row,
.moj-broj-container--operator-chars,
.moj-broj-container--stop-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.moj-broj-container--number,
.moj-broj-container--operator,
.moj-broj-container--delete-btn,
.moj-broj-container--target-number,
.moj-broj-container--stop-submit-btn {
  font-size: 20px;
  padding: 15px;
  font-weight: 500;
  text-align: center;
  border: none;
  border-radius: var(--border-radious);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  background: var(--ligth-primary);
  color: var(--dark-blue);
  min-width: 60px;
  margin: 2px;
}
.moj-broj-container--target-number {
  font-size: 30px;
  display: inline-block;
  margin-top: auto;
}

/* slagalica-container--input-line */
.moj-broj-container--input-line{
  margin: 8px 0;
}
.moj-broj-container--input-container{

}
.moj-broj-container--container,
.koznazna-container--options
{
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  padding: 4px;
}
.slagalica-container{}

@media (min-width: 520px) {

  .moj-broj-container--numbers,
  .moj-broj-container--operators {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
}
.moj-broj-container--input-container{ 
  font-family: 'Caveat', cursive;
  font-size: 1.5rem;
  color: var(--dark-blue);
}
.popup-completed-score-container{
  display: flex;
  justify-content: space-around;
  color: var(--dark-blue);
}
.popup-completed-score-container > div{
  border: 1px solid;
  /* font-size: 20px; */
  padding: 15px;
  /* font-weight: 1000; */
  text-align: center;
  border: none;
  border-radius: var(--border-radious);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  background: var(--ligth-primary);
  color: var(--dark-blue);
  margin: 2px;
}
.popup-completed-score-container p{
  font-weight: 500;
}
.timer-bar{
  height: 6px;
  background-color: var(--dark-blue);
  margin-bottom: 8px;
  transition: width 1s linear;
}
.missing-username-input{
  box-shadow: inset 0 0 15px red;
}